.place__paragraph{
    width: 456px;
height: 174px;
left: 520px;
top: 2937px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 163%;
/* or 29px */


color: #FFFFFF;

}