.photo-grid {
  display: grid;
  gap: 14px;
  justify-content: center;
  margin: 92px auto 0 auto;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .photo-grid {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    gap: 16px;
  }
}

@media screen and (max-width: 550px) {
  .photo-grid {
    margin-top: 64px;
    justify-items: center;
    grid-template-columns: repeat(1, auto);
    row-gap: 12px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1000px) {
  .photo-grid {
    margin-top: 88px;
    width: 720px;
    grid-template-columns: repeat(2, auto);
    gap: 16px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, auto);
    gap: 16px;
  }
}