.place__heading{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 550px){
    .place__heading {
        max-width: 288px;
        margin-top: 32px;
        margin-left: 0;
        flex-direction: column;
    }
  }
  