.place__heading {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 550px) {
    .place__heading {
        max-width: 288px;
        flex-direction: column;
    }
}