.place__title {
    max-width: 460px;
    max-height: 152px;
    margin: 0 40px 0 0;
    padding: 0;
    word-wrap: break-word;
    font-family: Inter-Black;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
}

@media screen and (max-width: 550px) {
    .place__title {
        max-width: 288px;
        margin-left: 0;
        font-size: 32px;
        line-height: 35px;
        white-space: nowrap;
    }
}

@media screen and (min-width: 760px) and (max-width: 1000px) {
    .place__title {
        width: 340px;
        margin-left: 24px;
        margin-right: 58px;
        font-size: 42px;
        line-height: 46px;
        inline-size: 310px;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .place__title {
        width: 440px;
        margin-right: 32px;
        margin-left: 48px;
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (min-width: 1270px) {
    .place__title {
        margin-left: 148px;
        width: 460px;
    }
}