.place__paragraphs {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 550px) {
    .place__paragraphs {
        max-width: 320px;
        margin-top: 32px;
        margin-left: 0;

    }
}

@media screen and (min-width: 760px) and (max-width: 1000px) {
    .place__paragraphs {
        max-width: 352px;
        margin-left: 0;

    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .place__paragraphs {
        max-width: 456px;
        margin-left: 0;

    }
}