.cover__subtitle{
    width: 360px;
height: 66px;
left: 332px;
top: 6500px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* or 122% */

text-align: center;

color: #FFFFFF;
}