.lead__title {
    width: 720px;
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 56px auto 0 auto;
    text-rendering: auto;
    font-family: Inter-Black;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}