.lead__title {
    max-width: 720px;
    min-width: 288px;
    padding: 0;
    margin: 48px auto 0 auto;
    font-family: Inter-Black;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
    .lead__title {
        margin-top: 56px;
    }
}

@media screen and (max-width: 580px) {
    .lead__title {
        max-width: 288px;
        margin: 48px 16px 0 16px;
        font-size: 40px;
        line-height: 44px;
    }
}