.footer__copyright {
    min-width: 186px;
    margin: 0 0 0 auto;
    padding: 0;
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    justify-self: end;
    color: #FFFFFF;
}

@media screen and (max-width: 550px) {
    .footer__copyright {
        max-width: 288px;
        margin: 48px auto 24px 16px;
        font-size: 14px;
        line-height: 14px;
    }
}