.intro__text {
    max-width: 690px;
    min-width: 288px;
    margin: 0 auto;
    padding: 0;
    margin-top: 40px;
    margin-left: 16px;
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (min-width: 767px) {
    .intro__text {
        margin-top:24px;
    }
}

@media screen and (min-width: 1200px) {
    .intro__text {
        margin-top: 148px;
    }
}

@media screen and (min-width: 1000px) {
    .intro__text {
        margin-top: 48px;
    }
}