.intro {
    margin: 92px auto 0 auto;
    padding: 0;
}

@media screen and (max-width: 550px) {
    .intro {
        margin-top: 64px;
    }
}

@media screen and (min-width: 760px) and (max-width: 1000px) {
    .intro {
        margin-top: 88px;
    }
}