.lead__caption {
  position: relative;
  max-width: 160px;
  margin: 8px auto 0 48px;
  padding: 0;
  font-family: Inter-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 760px) and (max-width: 1000px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .lead__caption {
    margin-left: 48px;
  }
}

@media screen and (min-width: 1201px) {
  .lead__caption {
    margin-left: 148px;
  }
}

@media screen and (max-width: 550px) {
  .lead__caption {
    margin-left: 16px;
  }
}