.cover__title{
    width: 560px;
height: 152px;
margin:0 auto;
justify-content: center;
font-family: Inter-Black;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
z-index: 10;
/* or 106% */

text-align: center;

color: #FFFFFF;
}